@page
@model task1.Views.Home.GetStringModel
@{
    ViewData["Title"] = "Получение строки";
}

@* <div>
    <form asp-action="GetString" asp-controller="Home" method="post">
        <label>Входная строка</label><br />
        <input type="text" asp-for="input"></input>
        <input type="submit" value="Отправить" /><br />
        <label>Результат</label><br />
        <label asp-for="res"></label>
    </form>
</div> *@