@{
    ViewData["Title"] = "task1";
}

<form method="post">
    <label>Входная строка</label><br />
    <input type="text" name="input"></input>
    <input type="submit" value="Отправить" /><br />
    <label>Результат</label><br />
    <label name="res">@ViewData["res"]</label>
</form>